A tuple is similar to list.
The difference between tuple and list is we cant change the elements of tuple once it is assigned..

In [1]:
# empty tuple

t=()
print(t)

()

In [3]:
# tuple with mixed datatype

t=(1,'raju',3,'abc')
print(t)

(1, 'raju', 3, 'abc')

In [5]:
t=((1,2),(34),[1,2,3,4,5,6])
print(t)

((1, 2), 34, [1, 2, 3, 4, 5, 6])

In [6]:
t=('Kushal')
type(t)

str

In [11]:
# need a comma at the end so that it indicates its a tuple not a string
# this comma is required only when we have one element .. if its more than one then not required to give comma as it is by default a tuple

t=('Sathish',)
type(t,)

tuple

In [12]:
# paranthesis is optional

t="Kushal",
print(type(t))

<class 'tuple'>

# Accessing Elements in the Tuple

In [15]:
t=('Sathish', 'Murali','Vinay','Gowda')
print(t[1])

Murali

# negative index
print(t[-1])

# Nested Tuple

In [17]:
t1=((1,2), (4,5,6,7))
print(t1)

((1, 2), (4, 5, 6, 7))

In [18]:
t=('Abc',('srini','madhu','babu'))
print(t[1][2])

babu

# Slicing

In [21]:
t=(1,2,3,4,5,6)
print(t[1:4])

(2, 3, 4)

# Changing a tuple

In [22]:
t=(1,2,3,4,5,6)
t[4]=4

TypeError: 'tuple' object does not support item assignment

In [29]:
t=(0,1,2,3,4,(0,5))  # we have two tuples here 
print(t)

(0, 1, 2, 3, 4, (0, 5))

In [30]:
print(t[2])

2

In [31]:
t=(1,2,3,4) + (5,6,7,8)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)

In [33]:
# repeat operation in tuples

t=(('Sathish',)*4)
print(t)

('Sathish', 'Sathish', 'Sathish', 'Sathish')

# Tuple Deletion

In [37]:
# we cannot delete a specific element from the tuple as it is immutable

t=(1,2,3,4,5,6)
del t

# Tuple Count

In [38]:
t=(1,2,3,4,5,1,3,5,6)
t.count(1)

2

# Tuple index

In [39]:
t=(1,2,3,4,5,6,7,3,2)
print(t.index(3))

2

# Tuple membership

In [41]:
t=(1,2,3,4,5,6)

print ( 1 in t)

True

In [42]:
print(7 in t)

False

# Built in Fuction

Length

In [46]:
t=(1,2,3,4,5,6)
print(len(t))

6

# Tuple Sort

In [47]:
t=(1,2,4,6,3)

t1=sorted(t)

In [48]:
print(t1)

[1, 2, 3, 4, 6]

# Math Operations on Tuple

In [49]:
# min , max and sum
t=(1,4,65,6,7,8,1,34,63,23)

print(min(t))
print(max(t))
print(sum(t))

1
65
212