In [1]:
# to find the absolute value

In [2]:
r=-100
print(abs(r))

100

In [3]:
#all
#return value of all function
#True: if all elements in an iterable are true
#False: if any element in an iterable is False

In [4]:
lst=[1,2,3,4]
print (all(lst))

True

In [5]:
lst1=(0,2,3,4)
print(all(lst1))

False

In [6]:
LST2=[False,1,2]
print(all(LST2))

False

In [7]:
#divmod() used for division

In [8]:
#enumerate

In [9]:
numbers=[1,2,3,4,54,67]
for index, num in enumerate (numbers):
    print("index {0} has value {1}".format (index,num))

index 0 has value 1
index 1 has value 2
index 2 has value 3
index 3 has value 4
index 4 has value 54
index 5 has value 67

In [10]:
#filter()

def find_pos_num(num):
    
    if num >0:
        print(num)
        
number_list=range(-10,10)
print(list(number_list))

positive_num_list=list(filter(find_pos_num,number_list))
print(positive_num_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9
[]

In [11]:
#isinstance

In [12]:
lst=[1,2,3,4]
print(isinstance(lst,list))

True

In [13]:
lst1=(1,2,3,4,5)
print(isinstance(lst1,list))

False

In [14]:
#map()

In [15]:
#map applies a function to all the items in an input list

In [16]:
#

import pandas as pd

In [17]:
df=pd.DataFrame({'brand':['Yum Yum', 'Yum Yum', 'Indomie','Indomie','Indomie'],
                'style': ['cup','cup','cup','pack','pack'],
                'rating':[4,4,3.5,15,5]
                
                })

df

     brand  rating style
0  Yum Yum     4.0   cup
1  Yum Yum     4.0   cup
2  Indomie     3.5   cup
3  Indomie    15.0  pack
4  Indomie     5.0  pack

In [18]:
df.drop_duplicates(df)

     brand  rating style
0  Yum Yum     4.0   cup
2  Indomie     3.5   cup
3  Indomie    15.0  pack
4  Indomie     5.0  pack

In [19]:
df

     brand  rating style
0  Yum Yum     4.0   cup
1  Yum Yum     4.0   cup
2  Indomie     3.5   cup
3  Indomie    15.0  pack
4  Indomie     5.0  pack

In [20]:
df.drop_duplicates(subset=['brand'])

     brand  rating style
0  Yum Yum     4.0   cup
2  Indomie     3.5   cup

In [21]:
df.drop_duplicates(subset=['brand','style'], keep='last')

     brand  rating style
1  Yum Yum     4.0   cup
2  Indomie     3.5   cup
4  Indomie     5.0  pack

# map

In [22]:
numbers=[1,3,4,5]

squared=[]
for num in numbers:
    squared.append(num**2)  # change it to the power u want

print(squared)

[1, 9, 16, 25]

In [23]:
numbers=[1,3,4,5]

def poweroftwo(num):
    return num**2

squared= list(map(poweroftwo,numbers))
print(squared)

[1, 9, 16, 25]

# reduce

In [24]:
product=1
lst=[1,2,3,4]

for num in lst:
    product *=num
print(product)

24

In [25]:
# with reduce
# inbuit function for reduce is not avaiable in python 3
from functools import reduce 

def multiply(x,y):
    return x*y;

product=reduce(multiply,lst)
print(product)

24

In [26]:
#map and filter applies the function on each elements individully

# User defined functions

In [27]:
def add(a,b):
    " This function adds two numbers"
    return a + b

def multiply(a,b):
    "This function multiplies two numbers"
    return a * b

def substract(a,b):
    "This function substracts two numbers"
    return a - b

def division(a,b):
    "This function divides two numbers"
    return a / b


print(" ****Select Option **** ")
print("1. Addition")
print("2. Multiplication")
print("3. Subtracation")
print("4. Division")

# Take the input from user
choice=int(input("Enter your choice 1/2/3/4 "))

num1=float(input("Enter the first number "))
num2=float(input("Enter the second number "))

if choice==1:
    print("Addition of {0} and {1}  = {2} ".format(num1, num2 ,add(num1,num2)))

elif choice==2:
    print("Multiplication of {0} and {1}  = {2} : ".format( num1, num2 , multiply(num1,num2)))
    
elif choice==3:
    print("Subtraction of {0} and {1}  = {2} ".format (num1 , num2 , substract(num1,num2)))

else:
    print("Division of {0} and {1}  = {2} " .format(num1,num2,division(num1,num2)))

 ****Select Option ****
1. Addition
2. Multiplication
3. Subtracation
4. Division
Enter your choice 1/2/3/4 3
Enter the first number 45
Enter the second number 56
Subtraction of 45.0 and 56.0  = -11.0